# Python
__pycache__/
*.pyc

# Directorios efímeros locales (OK ignorarlos)
downloads/
_reports/
_snapshots/
_hashdb/
site/

# Importante: NO ignores estos (se deben commitear):
# _db/
# public_db/
# public_listas/
# public_reports/
